.about-img img {
  margin: 70px 0px 0px 30px;
  width: 90%;
  height: auto;
}

.skills span {
  background: #394b66;
  color: white;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 17px;
  display: inline-block;
}
