.single-project {
  padding: 30px 15px;
  border-radius: 10px;
  border: 2px solid #1586b3;
  background-color: rgb(238, 235, 235);
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.single-project h2,
h4 {
  color: #ff4a57;
  font-weight: 700;
}

.technology span {
  background: #2c314d;
  color: white;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 17px;
  display: inline-block;
}

.project-link a {
  margin: 0 10px 0 10px;
}

.card-body h5,
.card-body p {
  color: #1f2235;
  font-weight: bold;
}

.carousel-item img {
  border-radius: 20px;
  border: 3px solid #1a3d5d;
}

.card-img-hover {
  overflow: hidden;
}

.card-img-hover img:hover {
  transition: 0.5s all ease-in-out;
  transform: scale(1.2);
}
