.banner-img img {
  margin: 70px 0px 0px 30px;
  width: 80%;
  height: auto;
}

.social-link {
  margin-top: 25px;
  padding: 0 !important;
}

.social-link li {
  display: inline-block;
  margin-right: 12px;
}

.social-link a {
  color: #ff4a57;
  border: 1px solid #ff4a57;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
}
.social-link a:hover {
  background: #ff4a57;
  border-color: #ff4a57;
  color: #fff;
}
